<!DOCTYPE html>
<html>
	<head>
		<meta name="baidu-site-verification" content="QUmU9uX87w" />
		<meta charset="UTF-8">
		<meta name="keywords" Content="zackon | 张涛">
		<meta name="description" Content="zackon | 张涛">
		<title>zackon | 张涛</title>
		<link rel="shortcut icon" href="../image/avatar.jpg">
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../css/articleDetail.css" rel="stylesheet" type="text/css">
		<link href="../css/jquery.alerts.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <header>
        	<p class="loginAndRegiste">
        		<span id="noLogin"><a href="login.html" class="btn btn-danger"><span id="login">登录</span></a>&nbsp;&nbsp;&nbsp;<a href="login.html?type=registe" class="btn btn-danger"><span id="registe">注册</span></a></span>
        		<span id="hasLogin"><a href="javascript:void(0)" class="btn btn-info"><span id="userName" >name</span><i style="margin-left: 10px; color: black;" class="icon iconfont">&#xe601;</i></a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="btn btn-danger"><span id="loginOut">退出登录</span></a>&nbsp;&nbsp;&nbsp;<a href="index.html" class="btn btn-info"><span>首页</span></a></span>
        		<span id="createArticle"><a href="addOrEditArticle.html" class="btn btn-danger">写文章</a></span>
        		<div class="hide trigger-content">
        			<ul class="trigger-menu">
        				<li class="myHome"><i class="icon iconfont">&#xe60d;</i>&nbsp;我的主页</li>
        				<li class="favouriteArticle"><i class="icon iconfont">&#xe6ae;</i>&nbsp;喜欢的文章</li>
        				<li class="helpAndCallback"><i class="icon iconfont">&#xe643;</i>&nbsp;帮助与反馈</li>
        				<li class="setting"><i class="icon iconfont">&#xe63a;</i>&nbsp;设置</li>
        				<li class="loginOut"><i class="icon iconfont">&#xe60f;</i>&nbsp;退出登录</li>
        			</ul>
        		</div>
        	</p>
        	<hr>
        	<a href="index.html"><img src="../image/avatar.jpg"></img></a>
        	<h1 class="userName"><a>张涛 | zackon</a></h1>
        	<hr>
        	<div class="desc">
        		软件工程专业毕业，喜欢编程，运动，以及冒险，大学做过一些门户类网站。现投身互联网行业，目前工作于yonyou。喜欢互联网，喜欢健身，喜欢跑步，喜欢交朋友，喜欢笑起来像旺仔一样可爱的女生，喜欢认识更多有意思的人，欢迎和这个有全身充满正能量（捂脸）的处女座男生做朋友。
        	</div>
        </header>
        <section>
           <div class="article">
           	  
           </div>
           <script type="text/html" id="articleDetailTpl">
           	 <article class="article_content">
                {{#data}}
           	 </article>
           	</script>
            <script type="text/html" id="atricleCommentTpl">
           		<div class="article_footer">
                	<div class="article_likes">
                		{{if data[0].hasLike}}
                		    <img id="likeOrUnlike" src="../icon/like.png" /> <span style="display: none;">&nbsp;&nbsp;&nbsp; zackon等<span id="numberOfLikes">{{data[0].likes.length}}</span>人也觉得文章很赞！</span>
                		{{else}}
                		    <img id="likeOrUnlike" src="../icon/unlike.png" /> <span style="display: none;">&nbsp;&nbsp;&nbsp; zackon等<span id="numberOfLikes">{{data[0].likes.length}}</span>人也觉得文章很赞！</span>
                		{{/if}}
                	</div>
                	<ul class="article_share">
                		<li><a>QQ</a></li>
                		<li><a>微信</a></li>
                		<li><a>微博</a></li>
                		<li><a>更多</a></li>
                	</ul>
	                <div class="inputComments">
	                	<textarea  placeholder="请输入你的评论" rows="5" ></textarea>
	                	<p><a class="btn btn-default btn-reset">清空</a><a class="btn btn-info btn-comment">发送</a></p>
	                </div>
	                <div class="commentsList">
	                	<p><span class="count">{{data[0].comment.length}}条评论</span><span class="orderBy"><a class="orderByTimeAsc">按时间正序</a><a class="orderByTimeDesc">按时间倒序</a></span></p>
	                	{{each data[0].comment}}
		                	<div class="comment">
		                		<div>
		                			<img class="commentAvatar" src="{{$value.author_avator}}" width="50" height="50" />
		                			<div style="width: 80%; float:left;">
		                				<p class="commentName">{{$value.author}}</p>
		                				<p class="commentTime">{{$value.time}}</p>
		                			</div>
		                		</div>
		                		<div class="commentContent">
		                			{{$value.content}}
		                		</div>
		                	</div>
	                	{{/each}}
	                </div>
                </div>
           </script>
        </section>
        <footer>
        	<hr>
        	<div id="goTop">
        		<img src="../image/gotop.gif"/>
        	</div>
        	<p>版权所有 © ICP备17022551号   技术支持：zackon科技</p>
        </footer>
        <img src="../image/loading.gif" id="loading">
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jQuery.lazy.js"></script>
        <script src="../js/backtop.js"></script>
        <script src="../js/template.js"></script>
        <script src="../javascript/detail.js"></script>
        <script src="../js/jquery.alerts.js"></script>
	</body>
</html>