<!DOCTYPE html>
<html>
	<head>
		<meta name="baidu-site-verification" content="QUmU9uX87w" />
		<meta charset="UTF-8">
		<meta name="keywords" Content="zackon | 张涛">
		<meta name="description" Content="zackon | 张涛">
		<title>zackon | 张涛</title>
		<link rel="shortcut icon" href="../image/avatar.jpg">
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../css/articleDetail.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <header>
        	<hr>
        	<a href="index.html"><img src="../image/avatar.jpg"></img></a>
        	<h1 class="userName"><a>张涛 | zackon</a></h1>
        	<hr>
        	<div class="desc">
        		软件工程专业毕业，喜欢编程，运动，以及冒险，大学做过一些门户类网站。现投身互联网行业，目前工作于yonyou。喜欢互联网，喜欢健身，喜欢跑步，喜欢交朋友，喜欢笑起来像旺仔一样可爱的女生，喜欢认识更多有意思的人，欢迎和这个有全身充满正能量（捂脸）的处女座男生做朋友。
        	</div>
<!--        	<ul>
        		<li><a>文章</a></li>
        		<li><a>相册</a></li>
        		<li><a>养生</a></li>
        		<li><a>健身</a></li>
        		<li><a>IT</a></li>
        		<li><a>随笔</a></li>   
        	</ul>-->
        </header>
        <section>
           <div class="article">
           	  <article class="article_content">
<p style="text-align: center;">
    <span style="font-size:24px">不懂健身会慢慢毁掉你的激情，健身达人教你如何制定健身计划</span>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-1fe4d99894339550.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-1fe4d99894339550.jpg?imageMogr2/auto-orient/strip" data-image-slug="1fe4d99894339550" data-width="550" data-height="351" style="cursor: zoom-in;"/><br/>
</div>
<p>
    对于很多健身小白来说，他们可能会以为健身很简单，其实并非如此。在健身馆工作了这么多年，我经常会看到一些会员，刚来健身房时看起来意志是那么坚定，信心是那么满满。但十多天之后，在健身房就很难再看到他们的身影。<br/>
</p>
<p>
    为何会这样？主要是因为他们对自己的身体状况不了解、锻炼不得法，感觉不到运动的效果，更无法体会到健身的乐趣与成就感。今天，我就结合这么多年的健身经验，与大家谈一下，在不同的运动阶段，一个健身小白该如何制定一个好的健身计划。
</p>
<p>
    <strong>1.</strong><strong>认识你自己</strong>
</p>
<p>
    我们的老祖宗多年前就告诉我们：“欲事之无繁,则必劳于始而逸于终。”意思是说，想要使事情不杂乱，必须开始时就劳心劳力，到后来就安闲了。
</p>
<p>
    <br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-267f34ddb99ca57d.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-267f34ddb99ca57d.jpg?imageMogr2/auto-orient/strip" data-image-slug="267f34ddb99ca57d" data-width="1278" data-height="595" style="cursor: zoom-in;"/><br/>
</div>
<p>
    那么健身开始时，我们应该做些什么呢？首先，初学者要明确自己现在身体的状况，即是属于偏胖，正常，还是偏瘦；还要搞清楚自己目前处于什么级别，即：初学者，初级，中级，高级，专业；当然，还要搞清楚自己健身的目的，例如是为了减肥，增肌，翘臀，或者其他。<br/>
</p>
<p>
    明确健身目的以及定位好自己的身体状况后，有针对性的制定健身计划就是一件有的放矢的事情啦。
</p>
<p>
    <strong>2.</strong><strong>准备期进行有氧练习</strong>
</p>
<p>
    运动初期，你需要进行半个月左右的有氧练习，这会使你的耐力和代谢能力有极大提升。进行有氧练习，最好的办法就是跑步。每天跑两组，每次10-15分钟。同时，注意跑后一定要进行柔韧性练习。这有利于增强你的心肺功能，同时通过跑步刺激你的肌肉，为后期的力量训练提供一个预热期。好多初学者刚开始健身就开始举铁，通常十分钟下来就满头大汗，就是因为有氧练习没有做好。准备期做有氧练习，可以先消耗糖原，再举铁可以更好地消耗脂肪。
</p>
<p>
    <br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-c2512002a0d2df20.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-c2512002a0d2df20.jpg?imageMogr2/auto-orient/strip" data-image-slug="c2512002a0d2df20" data-width="1000" data-height="667" style="cursor: zoom-in;"/><br/>
</div>
<p>
    3.健身初期进行徒手的力量练习
</p>
<p>
    进行了半个月左右的有氧练习之后，你可以进行为期15天左右的徒手的力量练习。例如俯卧撑、引体向上、深蹲，和举腿。每个动作3-5组，每组8-15个。
</p>
<p>
    这几个动作是比较好的健身手段，如果你觉得这几个动作尚满足不了你的运动需求，那么你可以尝试一下波比跳，每次5-8组，每组15-25个。
</p>
<p>
    在健身初期要进行这些徒手练习，一方面是因为这些训练本身也是一种比较健康的训练方法，另一方面也避免了举铁带来的伤害，因为新手在进行举铁练习时，很容易因动作错误以及使用器械的力量过大，而造成肌肉拉伤。
</p>
<p>
    <br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-569d32ed209f8b68.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-569d32ed209f8b68.jpg?imageMogr2/auto-orient/strip" data-image-slug="569d32ed209f8b68" data-width="553" data-height="270" style="cursor: zoom-in;"/><br/>
</div>
<p>
    <strong>4.</strong><strong>健身中期开始举铁</strong><br/>
</p>
<p>
    经过了准备期、初期的练习之后，相信你已经有了一定的力量基础，且体能素质比一般人要好很多。这个时候，你终于可以开始举铁了。
</p>
<p>
    <br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-71bcead2b945bbb2.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-71bcead2b945bbb2.jpg?imageMogr2/auto-orient/strip" data-image-slug="71bcead2b945bbb2" data-width="600" data-height="400" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        在健身初期，你可以初步给自己定一个训练计划，如每周三次，周一腿肩，周三背二头，周五胸三头，细化每天练习的肌肉群。开始一个月到两个月最多三练。要保证小肌肉群有至少24小时休息时间，大肌肉群有48-72小时休息。每周最先练腿。每个动作组和组之间休息30秒，你可以利用这三十秒做拉伸或者喝点水，喝水要注意少量多饮的原则。
    </div>
</div>
<p>
    注意此时的饮食要尽可能多地摄入蛋白质含量较高的食物，但是你没有必要专门购买乳清蛋白粉、增肌粉等运动补剂，补充一些奶制品、和蛋类、豆类等即可。
</p>
<p>
    在这个阶段，你还可以坚持学习一些大咖使用器械的方法，坚持训练坚持半年以上，你的形体一定会有一个整体上改观。
</p>
<p>
    <br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-7ac799fd3b8fb837.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-7ac799fd3b8fb837.jpg?imageMogr2/auto-orient/strip" data-image-slug="7ac799fd3b8fb837" data-width="640" data-height="426" style="cursor: zoom-in;"/><br/>
</div>
<p>
    5.健身坚持期，坚持，再坚持<br/>
</p>
<p>
    随着器械力量数目的不断增加，肌肉的围度变化会更加明显。但过了这段肌肉疯涨期之后，肌肉的增大幅度会变得不那么明显，这说明你到了坚持期。
</p>
<p>
    我们知道，健身不是一件一劳永逸的事情，只有不断的练习和刺激，才能使其增长。这时你可以尝试一周四练，或者一周五练，但不管选择哪种方式，你一定要保证“小肌肉有至少24小时休息时间，大肌肉群有48-72小时休息”这条铁律。每次训练的肌肉也要有针对性，这样才有利于你度过瓶颈期。
</p>
<p>
    <br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/1781529-01b2079bb5c7b473.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/1781529-01b2079bb5c7b473.jpg?imageMogr2/auto-orient/strip" data-image-slug="01b2079bb5c7b473" data-width="700" data-height="642" style="cursor: zoom-in;"/>
</div>
<p>
    <br/>
</p>
           	  </article>
           	   <div class="article_footer">
                	<div class="article_likes">zackon觉得很赞</div>
                	<ul class="article_share">
                		<li><a>QQ</a></li>
                		<li><a>微信</a></li>
                		<li><a>微博</a></li>
                		<li><a>更多</a></li>
                	</ul>
	                <div class="inputComments">
	                	<textarea  placeholder="请输入你的评论" rows="5" ></textarea>
	                	<p><a class="btn btn-default">取消</a><a class="btn btn-info">发送</a></p>
	                </div>
	                <div class="commentsList">
	                	<p><span class="count">1条评论</span><span class="orderBy"><a class="orderByTimeAsc">按时间正序</a><a class="orderByTimeDesc">按时间倒序</a></span></p>
	                	<div class="comment">
	                		<div>
	                			<img class="commentAvatar" src="../image/img5.jpg" width="50" height="50" />
	                			<div style="width: 80%; float:left;">
	                				<p class="commentName">zackon</p>
	                				<p class="commentTime">2015-12-23 12:15</p>
	                			</div>
	                		</div>
	                		<div class="commentContent">
	                			写的非常好啊
	                		</div>
	                	</div>
	                </div>
                </div>
           </div>
           <div class="image hide">
           	  <div class="imageContent">
	           	  <a>
	           	  	<img data-original="../image/me1.jpg" class="lazy"></img>
	           	  </a>
	           	  <div class="image_footer">
	           	  	<p>
	           	  	  2017-03-11 星期六   凤凰岭  <br>
同游者：  贺鹏桦 ，杨娅娅， 刘贝贝<br>
	           	    </p>
	           	  </div>
           	  </div>
           </div>
        </section>
        <footer>
        	<hr>
        	<div id="goTop">
        		<img src="../image/gotop.gif"/>
        	</div>
        	<p>版权所有 © ICP备17022551号   技术支持：zackon科技</p>
        </footer>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jQuery.lazy.js"></script>
        <script src="../js/backtop.js"></script>
        <script src="../js/index.js"></script>
	</body>
</html>