<!DOCTYPE html>
<html>
	<head>
		<meta name="baidu-site-verification" content="QUmU9uX87w" />
		<meta charset="UTF-8">
		<meta name="keywords" Content="zackon | 张涛">
		<meta name="description" Content="zackon | 张涛">
		<title>zackon | 张涛</title>
		<link rel="shortcut icon" href="../image/avatar.jpg">
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../css/articleDetail.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <header>
        	<hr>
        	<a href="index.html"><img src="../image/avatar.jpg"></img></a>
        	<h1 class="userName"><a>张涛 | zackon</a></h1>
        	<hr>
        	<div class="desc">
        		软件工程专业毕业，喜欢编程，运动，以及冒险，大学做过一些门户类网站。现投身互联网行业，目前工作于yonyou。喜欢互联网，喜欢健身，喜欢跑步，喜欢交朋友，喜欢笑起来像旺仔一样可爱的女生，喜欢认识更多有意思的人，欢迎和这个有全身充满正能量（捂脸）的处女座男生做朋友。
        	</div>
<!--        	<ul>
        		<li><a>文章</a></li>
        		<li><a>相册</a></li>
        		<li><a>养生</a></li>
        		<li><a>健身</a></li>
        		<li><a>IT</a></li>
        		<li><a>随笔</a></li>   
        	</ul>-->
        </header>
        <section>
           <div class="article">
           	  <article class="article_content">
				<p style="text-align: center;">
				    <span style="font-size:24px">时令养生-到底养什么&怎么养</span>
				</p>
                 <p style="text-align: left;">
    <span style="text-decoration: line-through;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"></span></span></span></span></span></span>
</p>
<p>
    随着现代社会，养生的人越来越多，然而养生的陷阱也越来越多。我常常听说，今天这个人参加一个什么养生班，明天那个人参加一个理疗班，后天谁学了个养生课程，真是忙的不亦乐乎。然而真实情况和效果如何，我只能回答然并卵。
</p>
<p>
    为什么会这样，而且大家还乐此不彼的进行下去。因为养生重要啊，性命忧关啊，能不重要么。我也不想死啊，至少不想早早的死啊。
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3840850-be000b63e8e3b6ae.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3840850-be000b63e8e3b6ae.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        养到花儿绽放
    </div>
</div>
<p>
    那么什么是养生，到底养什么，怎么去养生，这一系列问题摆上心头。
</p>
<p>
    我在内经上找到关于时令养生答案（其它方面以后再写），分享给大家。
</p>
<blockquote>
    <p>
        <strong>春气，养生</strong>
    </p>
    <p>
        <strong>夏气，养长</strong>
    </p>
    <p>
        <strong>秋气，养收</strong>
    </p>
    <p>
        <strong>冬气，养藏</strong>
    </p>
</blockquote>
<p>
    十六个字，道尽时令养生秘密。
</p>
<p>
    简单分析下，这十六个字特点，<strong>首先是春夏秋冬四季养生，其次养的是生长收藏，最后养什么呢，都是养气。</strong>
</p>
<p>
    <code>气是什么，翻看我以前的文章哈。</code>
</p>
<p>
    是不是很简单，很明了。下面我就一句一句的解释下，并作适当延伸。
</p>
<h3>
    1.春气，养生
</h3>
<blockquote>
    <p>
        <strong>春天养气使之生，谓之养生</strong>
    </p>
</blockquote>
<p>
    <code>对标题补充一下使语义完整可读些。</code>
</p>
<p>
    春天天地表现出生机，万物开始生长发芽。我们应该每天早早的起来，缓缓的运动，使得身体的阳气生发开来。每天不要耗散太多，可使身体处于萌发的状态。
</p>
<p>
    就像树木逢春发芽似的，刚开始总是缓慢的，不经意间发出了小芽。养的是生机。
</p>
<p>
    春季养生：每天早早起床，走走跑跑，使得身上阳气活跃起来，锻炼身体以不出汗为佳，活跃身体机能，精神状态调整好，早晨时晒晒太阳。最好不要过度剧烈运动（相对每个人自身素质，有人跑一万步是热身，有人得要了半条命），不过度消耗刚升起来的阳气。
</p>
<p>
    春季养生注意事项：<strong>懒床，不晒太阳，运动过度，阳气耗竭。</strong>
</p>
<h3>
    2.夏气，养长
</h3>
<blockquote>
    <p>
        <strong>夏天养气使之长，谓之养长</strong>
    </p>
</blockquote>
<p>
    夏天万物快速生长。每天应该早早的起来，多运动，使得身体的阳气滋养全身。每天多运动，使身体处于活跃的状态。
</p>
<p>
    就像树木夏天在蓬勃生长，绿荫成林。养的是快快吸收长大。
</p>
<p>
    夏季养生：每天早晨早早起床，白天多锻炼身体，尽量多出出汗，出汗可以排出身体毒素。锻炼可以提升阳气，提升身体机能，年轻人使得身体生长。锻炼前后半小时不宜吃饭、喝水等，锻炼前后多放松，跑完步不宜立即坐下，散散步使得毛孔排汗后收敛。
</p>
<p>
    夏季养生注意事项：<strong>懒床，运动不足，阳气不得生发。</strong>，否则秋天没有果子吃，冬天很冷很饿。
</p>
<p>
    <strong>春夏养生谓之养阳</strong>，即这两个季节的气都是阳气为主，阳气为轻清之气，具有生发、生长的属性，养阳谓之收集阳气，从进积极主动的角度对身体的改善，是正面的，多多益善哈。
</p>
<h3>
    3.秋气，养收
</h3>
<blockquote>
    <p>
        <strong>秋天养气使之收，谓之养收</strong>
    </p>
</blockquote>
<p>
    夏天已经过去，秋天已然来临，刚入秋那些天，夏天的热还没有散去，仍是骄阳似火的味道，然而缓缓的秋天不期然而至。
</p>
<p>
    每天早点睡觉变成主旋律，早点睡觉就可以早点起来，就像鸡儿那样每天打个鸣。这时不宜剧烈运动，最好保持神气收敛，不要耗散太多。
</p>
<p>
    秋季养生：早早起床锻炼身体，锻炼身体和春天类似，散步缓跑为主，不宜多出汗，像植物一样以收敛为主，巩固夏天锻炼的成果。
</p>
<p>
    秋季养生注意事项：<strong>熬夜、懒床，运动过度，阳气耗竭。</strong>
</p>
<h3>
    4.冬气，养藏
</h3>
<blockquote>
    <p>
        <strong>冬天养气使之藏，谓之养藏</strong>
    </p>
</blockquote>
<p>
    冬天天寒地冻的，万物闭藏，人也一样。每天不可辩驳的要早点睡觉，第二天还可以赖个懒床，等到太阳照到屁股上。一切讲究藏，不要到处宣扬、卖弄，至少不能大汗淋漓，耗尽阳气。
</p>
<p>
    树木都已凋零，蝉也停止了叫桑，万物寂静，一片宁静的味道。
</p>
<p>
    冬季养生：以藏为主，身体要保温，四肢都要温暖才是，四肢温暖最重要，尤其是老人、小孩。要想四肢温暖有几种方法：1.吃高热量食物，如肉、坚果等；2.运动，以慢跑不出汗为本；3.多穿点衣服；4.热水泡脚，这个对手脚冰凉时效果最好，尤其是睡前一定要用这种方法把手脚弄热了再睡。
</p>
<p>
    冬季养生注意事项：<strong>运动过度，阳气耗竭。</strong>
</p>
<p>
    <strong>秋冬养生谓之养阴</strong>，即这两个季节的气都是阴气为主，阴气为重浊之气，具有下降、收藏的属性，养阴谓之收集阴气，同时减少阳气的消耗，从而改善身体，处于保护、防守的状态，也是多多益善哈。
</p>
<h3>
    5.每天养生
</h3>
<blockquote>
    <p>
        <strong>每天养生以争时，四时养生效果好。</strong>
    </p>
</blockquote>
<p>
    明了四季养生，还得明白每天养生，否则没有具体操作抓手，落实不到每一天去，养生无从谈起。
</p>
<p>
    其实每天的养生和一年养生的道理是一样的，一年的养生之道明白了，一天的养生道理也就容易懂了。
</p>
<p>
    每天三点到九点之间相当于春季，九点到十五点之间相当于夏季，十五点到二十一点之间相当于秋季，二十一点到三点之间相当于冬季。
</p>
<p>
    这样可以看出五点到十一点之间是一天里养生锻炼的好时光，可以五点左右可以活跃阳气，十一点左右是提升身体机能的好时光。天黑十九点之前还适合一点锻炼，到了晚上九点以后就不适合锻炼了，那是冬季时节，宜藏，这也是我不赞成晚上锻炼的原因（算是初步回答了：<a href="http://www.jianshu.com/p/c749c02227e0" target="_blank">养生-晚跑不如慢走</a>）。
</p>
<p>
    那晚上是不是就不能锻炼呢，也不是，和前面冬季养生一样，至少不能出汗，或身体机能不好做一些适当的锻炼还是可以的。还有有些人一万步只当热身，也是可以的，只要睡眠好也行，只是从优质养生角度而言，如果其他时间可以锻炼，干嘛非要选晚上呢。
</p>
<p>
    每天养生还有一个特殊时间，就是每天的四时，哪四时？
</p>
<p>
    <strong>子午卯酉。</strong>解释一下，很多现代小朋友不知道，子时：23点-01点；午时：11点-13点；卯时：5点-7点；酉时：17点-19点。
</p>
<p>
    这四个时辰子时宜睡觉，午时宜小憩片刻，卯时宜锻炼身体，酉时宜小小的运动一下，这就是四时养生。<strong>四时养生是每天上班人的最优选择。</strong>
</p>
<p>
    一年养生是每天养生的日积月累，一年的养生就体现在这每一天之中，一天不积何以达一月、一年。
</p>
<h3>
    6.二十四节气养生
</h3>
<blockquote>
    <p>
        <strong>二十四节气养生是一年养生的浓缩。</strong>
    </p>
</blockquote>
<p>
    二十四节气是一年里特别重要的时间节点，在这些节点做养生的事，有事半功倍的效果，因此对那些坚持不了每天长时间锻炼养生的达人们，在二十四节气里进行针对性的养生也是一个不错的选择哦。
</p>
<p>
    二十四节气养生的原理和四时养生的原理差不多，也是选择最优时间节点去锻炼，我觉得二十四节气养生不应只在那一天，前后各三五天的提前预备热身和节后巩固也挺重要。
</p>
<p>
    能够做到二十四节气养生，可保身体机能正常应该没问题，多多锻炼，每天坚持，日积月累才是根本。
</p>
<h3>
    7.总结
</h3>
<blockquote>
    <p>
        每一天如此，每月、每季如此，以达到一年之间的养生，上面的养生之法在每天都照着做了，<strong>谓之调神</strong>。
    </p>
</blockquote>
<p>
    调什么神，就是我们身体精气神的神，当养生刚开始的时候，得把身体恢复过来，这段时间就是调神，就是把精气神调整好了。<strong>四季养生，直达根本</strong>，根本不是那些花花绕子的养生班、养生茶、养生粥可以比拟的。四季养生和万物生长收藏的道理一样，做的好了秋天有个好收藏，冬天可以好好过，春天再发芽，夏天可生长迅速，如此循环往复。都做到了，就很难生病，这样才是真的养生。
</p>
<blockquote>
    <p>
        每年养生都养好了，更进一步<strong>谓之养神</strong>。
    </p>
</blockquote>
<p>
    因此，<strong>真正的养生是养生长收藏之气，进而调神、养神的过程，</strong>取第一个字名之<strong>养生</strong>。
</p>
<p>
    养生的目的是<strong>达到生气不竭，生生不息也。并内化到身体的精气神中。</strong>
</p>
<p style="text-align: left;">
    <span style="text-decoration: line-through;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;"><span id="_baidu_bookmark_start_1" style="line-height: 0px; display: none;">‍</span>‍</span>‍</span>‍</span>‍</span><iframe width="420" height="280" src="http://player.youku.com/embed/XMTg1NjcxOTI2OA==" frameborder="0"></iframe></span><br/>
</p>
           	  </article>
           	   <div class="article_footer">
                	<div class="article_likes">zackon觉得很赞</div>
                	<ul class="article_share">
                		<li><a>QQ</a></li>
                		<li><a>微信</a></li>
                		<li><a>微博</a></li>
                		<li><a>更多</a></li>
                	</ul>
	                <div class="inputComments">
	                	<textarea  placeholder="请输入你的评论" rows="5" ></textarea>
	                	<p><a class="btn btn-default">取消</a><a class="btn btn-info">发送</a></p>
	                </div>
	                <div class="commentsList">
	                	<p><span class="count">1条评论</span><span class="orderBy"><a class="orderByTimeAsc">按时间正序</a><a class="orderByTimeDesc">按时间倒序</a></span></p>
	                	<div class="comment">
	                		<div>
	                			<img class="commentAvatar" src="../image/img5.jpg" width="50" height="50" />
	                			<div style="width: 80%; float:left;">
	                				<p class="commentName">zackon</p>
	                				<p class="commentTime">2015-12-23 12:15</p>
	                			</div>
	                		</div>
	                		<div class="commentContent">
	                			写的非常好啊
	                		</div>
	                	</div>
	                </div>
                </div>
           </div>
           <div class="image hide">
           	  <div class="imageContent">
	           	  <a>
	           	  	<img data-original="../image/me1.jpg" class="lazy"></img>
	           	  </a>
	           	  <div class="image_footer">
	           	  	<p>
	           	  	  2017-03-11 星期六   凤凰岭  <br>
同游者：  贺鹏桦 ，杨娅娅， 刘贝贝<br>
	           	    </p>
	           	  </div>
           	  </div>
           </div>
        </section>
        <footer>
        	<hr>
        	<div id="goTop">
        		<img src="../image/gotop.gif"/>
        	</div>
        	<p>版权所有 © ICP备17022551号   技术支持：zackon科技</p>
        </footer>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jQuery.lazy.js"></script>
        <script src="../js/backtop.js"></script>
        <script src="../js/index.js"></script>
	</body>
</html>