<!DOCTYPE html>
<html>
	<head>
		<meta name="baidu-site-verification" content="QUmU9uX87w" />
		<meta charset="UTF-8">
		<meta name="keywords" Content="zackon | 张涛">
		<meta name="description" Content="zackon | 张涛">
		<title>zackon | 张涛</title>
		<link rel="shortcut icon" href="../image/avatar.jpg">
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../css/articleDetail.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <header>
        	<hr>
        	<a href="index.html"><img src="../image/avatar.jpg"></img></a>
        	<h1 class="userName"><a>张涛 | zackon</a></h1>
        	<hr>
        	<div class="desc">
        		软件工程专业毕业，喜欢编程，运动，以及冒险，大学做过一些门户类网站。现投身互联网行业，目前工作于yonyou。喜欢互联网，喜欢健身，喜欢跑步，喜欢交朋友，喜欢笑起来像旺仔一样可爱的女生，喜欢认识更多有意思的人，欢迎和这个有全身充满正能量（捂脸）的处女座男生做朋友。
        	</div>
<!--        	<ul>
        		<li><a>文章</a></li>
        		<li><a>相册</a></li>
        		<li><a>养生</a></li>
        		<li><a>健身</a></li>
        		<li><a>IT</a></li>
        		<li><a>随笔</a></li>   
        	</ul>-->
        </header>
        <section>
           <div class="article">
           	  <article class="article_content">
				<p style="text-align: center;">
				    <span style="font-size:24px">Git指南 - 3个小时搞定git</span>
				</p>
 <p>
    先奉上Git常用命令速查表，方便大家查阅。<br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-7cfb99f73d367eab.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-7cfb99f73d367eab.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        图片来自于网络
    </div>
</div>
<hr/>
<p>
    <strong>再来个目录说明，大家可以根据自己所需进行选择学习</strong><br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-b5c11ad310e6cb62.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-b5c11ad310e6cb62.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        简单目录说明
    </div>
</div>
<h4>
    1 git简介
</h4>
<hr/>
<p>
    <strong>Git</strong>是世界上最牛逼的分布式版本控制系统。
</p>
<blockquote>
    <p>
        <strong>分布式版本控制系统：</strong>版本控制是一个用来记录一个或多个文件内容变化，以便将来查阅特定版本的修订情况的系统。
    </p>
</blockquote>
<h5>
    分布式和集中式的区别：
</h5>
<p>
    <strong>集中式版本控制系统：</strong>版本库是集中存放在中央服务器中，大家工作的时候自己的电脑必须要联网，才能拉获取到最新的版本库，工作结束后在上传至中央服务器。最新的版本库只存在于中央服务器中，安全性较低，提交速度较慢。
</p>
<p>
    <strong>分布式版本控制系统：</strong>分布式版本控制系统可以没有中央服务器，因为每个人电脑中都会有一份完整的版本库，有人的版本库丢失了只需要向其他人复制一份就可以了，这样大大的提高了安全性。当然，分布式版本控制系统一般也是有一个中央服务器的，这样更加方便大家的文件的修改及统一。
</p>
<h4>
    2 安装
</h4>
<hr/>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-addfe73d72f0e86d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-addfe73d72f0e86d.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        git安装自行解决🤓
    </div>
</div>
<h3>
    <strong>Tip:</strong>以下操作使用 Git Bash
</h3>
<p>
    为了大家好，我就只截图，不贴代码啦😀
</p>
<h4>
    3 创建版本库
</h4>
<hr/>
<p>
    <strong>1）创建一个目录 or 进入一个目录</strong>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-dcf11dacec948d88.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-dcf11dacec948d88.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img1
    </div>
</div>
<p>
    <strong>2）使用 git init 将一个文件夹变成一个仓库</strong>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-79c620dc9639daea.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-79c620dc9639daea.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img2
    </div>
</div>
<p>
    这样一个空的仓库就创建了，仓库中的.git目录就是最好的证明，初始化仓库.git文件夹默认是隐藏的，可以手动设置可见性，也可以通过<code>ls -sh</code>来查看，这个目录就是git的核心，用来跟踪版本库的，即每个文件的修改、删除、还原都会被跟踪。
</p>
<h4>
    4 git的基本操作
</h4>
<hr/>
<p>
    <strong>首先</strong>，我们需要先来了解一下工作区，暂存区的概念。
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-e0d1deaa95b2aaaf.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-e0d1deaa95b2aaaf.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img3
    </div>
</div>
<ul>
    <li>
        <p>
            <strong>工作区</strong>（Working Directory）：就是我们电脑上可以看到的目录
        </p>
    </li>
    <li>
        <p>
            <strong>版本库</strong>（Repository）：版本库就是我们初始化仓库时多出来的那个 <code>.git</code>文件夹。版本库中还包含了几个重要的东西。
        </p>
        <ul>
            <li>
                暂存区（Stage）：工作区的文件使用add命令后会加入暂存区，而没有直接到仓库。
            </li>
            <li>
                maste分支：master分支也是在仓库初始化时自动创建的，当暂存区的文件commit后就会默认加入仓库的master分支。
            </li>
        </ul>
    </li>
</ul>
<hr/>
<p>
    <strong>为了便于观察，就使用idea来做实验，文件不同的颜色对应不同的状态</strong>
</p>
<ul>
    <li>
        工作区：文件颜色是红色
    </li>
    <li>
        暂存区：文件颜色是绿色
    </li>
    <li>
        本地仓库中：文件颜色是白色
    </li>
    <li>
        对本地仓库文件修改后：文件颜色是蓝色
    </li>
</ul>
<hr/>
<p>
    <strong>第</strong>一步：先在工作区创建一个文件
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-0090d93ecd5aa487.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-0090d93ecd5aa487.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img4
    </div>
</div>
<p>
    <strong>第</strong>二步：将工作区文件add到暂存区
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-367180f4b112a600.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-367180f4b112a600.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img5
    </div>
</div>
<p>
    <strong>第</strong>三步：将暂存区文件commit到本地仓库
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-93581c52b8e0fff9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-93581c52b8e0fff9.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img6
    </div>
</div>
<p>
    <strong>第</strong>四步：对仓库中文件进行修改后的状态变化
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-6145412f89e0b8e4.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-6145412f89e0b8e4.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img7
    </div>
</div>
<p>
    在上述每一个步骤中都可以通过<code>git status</code>来查看工作区状态，通过<code>git diff</code>来查看修改的内容。
</p>
<h4>
    5 撤销修改
</h4>
<hr/>
<ul>
    <li>
        <strong>撤销工作区的修改</strong><br/><code>git checkout -- file</code>：把文件放在工作区的修改全部撤销
    </li>
</ul>
<p>
    1）修改后还没有被放到暂存区，将撤销回到<code>git add</code>的状态。<br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-ddd1838c92cfe833.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-ddd1838c92cfe833.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img8
    </div>
</div>
<p>
    2）已经添加到暂存区后做了修改，将撤销回到<code>git commit</code>状态<br/>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-0cacd17750704f0d.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-0cacd17750704f0d.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img9
    </div>
</div>
<ul>
    <li>
        撤销已到缓存区的修改<br/><strong>命令</strong>：<code>git reset HEAD file</code>，HEAD为当前最新的版本。<br/><strong>作用</strong>：将add进缓存区中的文件退回到工作区中。
    </li>
</ul>
<h4>
    6 版本回退、文件删除
</h4>
<hr/>
<p>
    先来了解两个命令：
</p>
<ul>
    <li>
        git log：查看版本库状态
    </li>
</ul>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-689c34d700a93087.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-689c34d700a93087.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img10
    </div>
</div>
<p>
    <br/>可见我们刚才一共提交了三个版本，当我们需要回退版本时需要使用<br/> <strong><code>git reset --hard HEAD^</code></strong>命令， <strong>HEAD</strong>表示当前的版本，<strong>HEAD^</strong> 表示上一个版本，上上个版本就是<strong>HEAD^^</strong>了，以此类推。<strong>HEAD~50</strong>即回退50个版本。
</p>
<ul>
    <li>
        git reflog：查看历史命令状态<br/>
        <div class="image-package">
            <img src="http://upload-images.jianshu.io/upload_images/3126293-8a52c4dcf4c89f53.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-8a52c4dcf4c89f53.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
            <div class="image-caption">
                img11
            </div>
        </div><br/><strong>git log</strong> 和<strong>git reflog</strong>最大的不同就是使用<strong>git reflog</strong>会有一个commit id，但我们需要回退版本的时候只需要找到对应的commit id号就可以了.。即
        <pre class="hljs sql">git reset --hard commit_id</pre>
    </li>
</ul>
<p>
    <strong>对文件的删除方式有两种</strong>
</p>
<ul>
    <li>
        git rm file命令：在删除的时候会将删除操作记录下来。
    </li>
    <li>
        rm file命令：在删除文件的时候不会将删除操作记录下来。
    </li>
</ul>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-f4ce7d102c7a1b7f.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-f4ce7d102c7a1b7f.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        img12
    </div>
</div>
<p>
    但我们还是可以用版本回退来恢复误删的文件。
</p>
<h4>
    7 远程仓库（以码云平台为例）
</h4>
<hr/>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-31819634db9261d4.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-31819634db9261d4.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        本地、远程仓库联系
    </div>
</div>
<p>
    <br/>既然是远程仓库，那么我们就要想办法去将本地的代码上传到远程仓库，<br/>具体的步骤：<br/>1）在码云上创建一个仓库。
</p>
<p>
    2）本地初始化一个仓库，且仓库不能为空，否则当提交到远程仓库是失败
</p>
<p>
    3）使用<code>git remote add origin &#39;远程仓库地址&#39;</code>命令关联远程仓库
</p>
<p>
    4）关联远程仓库<br/>第一次关联使用<code>git push -u origin master</code>命令，加上<code>-u</code>参数，git会把本地仓库master分支内容推送到远程仓库的master分支，并且会将本地的master分支和远程的master分支关联起来，以后本地提交时只需要使用<code>git push origin master</code>命令即可。当远程仓库为空时可以关联成功。
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-93abd2478f00261e.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-93abd2478f00261e.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        第一次关联流程
    </div>
</div>
<h5>
    SSH KEY配置
</h5>
<p>
    SSH key提供了一种与GitHub通信的方式，通过这种方式，能够在不输入密码的情况下，将GitHub作为自己的remote端服务器，进行版本控制。
</p>
<p>
    1）创建一个SSH key
</p>
<pre class="hljs excel">ssh-keygen -t rsa -C &quot;youremail&quot;</pre>
<p>
    随后一路回车吧，使用默认值就好。完成后会在用户目录下（C:\Users**.ssh）目录中<code>id_rsa</code>和<code>id_rsa.pub</code>两个文件。
</p>
<ul>
    <li>
        id_rsa.pub：需在码云个人资料中配置，主要用来加密，当你拉取数据时进行加密。
    </li>
    <li>
        id_rsa：私钥，本地保留，对拉取到本地的数据进行解密
    </li>
</ul>
<p>
    2）在码云上设置公钥信息
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-f5b5d17b044dd9b8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-f5b5d17b044dd9b8.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        设置密钥
    </div>
</div>
<p>
    只有设置了SSH的电脑上才会免密码操作，其它没有设置的当需要提交的时候还是需要登录账号密码。当然你也可以在多个电脑上设置SSH，而且不管是<code>id_rsa</code>还是<code>id_rsa_pub</code>丢失，都必须重新生成密钥。
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-3272d27ee8c091be.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-3272d27ee8c091be.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        push/pull
    </div>
</div>
<h5>
    克隆
</h5>
<p>
    两种方式：
</p>
<pre class="hljs stylus">git clone [-b &lt;branchName&gt;] ‘仓库地址’  //https协议git clone [-b &lt;branchName&gt;]  git@&#39;平台地址&#39;:‘用户名’/‘仓库名’.git    //ssh协议，速度较快</pre>
<h4>
    8 分支管理
</h4>
<hr/>
<h5>
    分支概念
</h5>
<p>
    当我们每次提交时，都会产生一个版本，这些版本共同连成一条时间线，这条时间线就是一个分支。
</p>
<h5>
    分支基础
</h5>
<ul>
    <li>
        在我们没有创建分支时，<code>git</code>会默认给我们创建一个<code>master</code>分支。刚才讲的HEAD是指向分支的，即当前分支，在这就是指向master分支，而master才是指向提交的。
        <ul>
            <li>
                查看当前分支
            </li>
        </ul>
    </li>
</ul>
<pre class="hljs 1c">git branch           //会列出所有分支，分支前有*号的表示当前分支</pre>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-aceaa60cf4fc0066.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-aceaa60cf4fc0066.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        HEAD/maste指向
    </div>
</div>
<ul>
    <li>
        每次提交，master分支都会向前进一步。
    </li>
</ul>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-8e78740f2a83dd54.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-8e78740f2a83dd54.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        maste分支移动
    </div>
</div>
<ul>
    <li>
        当我们创建一个分支<code>dev</code>时，Git会创建一个新的指针<code>dev</code>，<code>dev</code>指针会指向<code>master</code>相同的提交版本节点，而<code>HEAD</code>也会指向 <code>dev</code>分支上，即当前版本是<code>dev</code>上的当前最新版本。
        <ul>
            <li>
                创建<code>dev</code>分支，并切换到该分支
            </li>
        </ul>
    </li>
</ul>
<pre class="hljs q">git branch dev       //创建分支git checkout dev   // 切换分支
 或
git checkout -b dev //创建并切换分支</pre>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-2fd754cb91f8bad9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-2fd754cb91f8bad9.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        创建dev分支
    </div>
</div>
<ul>
    <li>
        当我们创建分支并切换到该分支后，Git会将HEAD指向所创建的分支<code>dev</code>上，从而我们以后再提交时，<code>master</code>分支的指针将不会改变，而<code>dev</code>分支的指针会向前移动。
    </li>
</ul>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-da2233d74522d45b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-da2233d74522d45b.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        dev指针移动
    </div>
</div>
<ul>
    <li>
        当然有创建就会有合并， 在<code>dev</code>上的工作做完后，就可以把<code>dev</code>分支和<code>master</code>分支合并，合并也非常简单，只需要将<code>master</code>指向<code>dev</code>的当前提交即可。合并之后，HEAD会指向<code>master</code>分支。
        <ul>
            <li>
                合并分支
            </li>
        </ul>
    </li>
</ul>
<pre class="hljs cos">git merge dev //快速模式合并，直接将当前所处分支指针指向dev的当前提交版本。</pre>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-4782fe158fe64d93.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-4782fe158fe64d93.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        分支合并
    </div>
</div>
<ul>
    <li>
        最后在合并之后也是可以把<code>dev</code>指针给删除掉。
        <ul>
            <li>
                分支删除
            </li>
        </ul>
    </li>
</ul>
<pre class="hljs q">git branch -d dev   //删除dev分支</pre>
<p>
    当前分支在没有提交的情况下删除使用
</p>
<pre class="hljs armasm">git branch -D dev</pre>
<h5>
    解决合并冲突
</h5>
<p>
    当然咯，在现实情况下，多多少少还是会出现在<code>merge</code>的时候出现冲突的，即同一个文件在两个分支中都被修改了，在合并时使用<em>快速合并模式*</em>就会产生冲突。
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-f8ec1d33b517d759.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-f8ec1d33b517d759.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        merge冲突发生
    </div>
</div>
<p>
    打开冲突的文件，Git会用<code>&lt;&lt;&lt;&lt;&lt;&lt;&lt;，=======，&gt;&gt;&gt;&gt;&gt;&gt;&gt;</code>标记出不同分支的内容，我们可以对其修改后继续提交。
</p>
<ul>
    <li>
        &lt;&lt;&lt;&lt;&lt;&lt;&lt; 和 ======= 之间是我们做的修改
    </li>
    <li>
        ======= 和 &gt;&gt;&gt;&gt;&gt;&gt;&gt;之间是我们要合并的那个分支做的修改
    </li>
</ul>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-f33fd7f9bbb19d69.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-f33fd7f9bbb19d69.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        冲突文件
    </div>
</div>
<h5>
    分支管理策略
</h5>
<p>
    在合并时，Git会默认使用Fast forward（快速合并模式），在这种模式下，当我们删除分支后，相应的分支信息也会被删除。
</p>
<p>
    如果要强制禁用Fast forward模式，在merge时Git就会生成一个新的commit，这样，我们就可以从分支历史上看到这条提交记录
</p>
<p>
    实战：在<code>dev</code>分支对文件<code>readme.txt</code>修改，add，commit后，切换到master分支对<code>readme.txt</code>修改，add，commit后使用：
</p>
<pre class="hljs nginx">git merge --no-ff -m&#39;提交信息&#39; dev</pre>
<p>
    这样就会产生一个新的commit，<strong>而且当前分支的修改会被merge的分支覆盖</strong>，使用带参数的<code>git log</code>查看分支历史
</p>
<pre class="hljs applescript">git log --graph --pretty=oneline --abbrev-commit</pre>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-d0762e466318e0b0.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-d0762e466318e0b0.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        查看分支历史
    </div>
</div>
<p>
    <strong>1）BUG分支</strong>
</p>
<p>
    在实际的开发过程中，我们需要去修复一个bug时，我们一般都会去创创建一个issue分支去修复这个bug，所以我们会把当前的工作现场存储起来。
</p>
<ul>
    <li>
        将当前工作现场隐藏
        <pre class="hljs ebnf">git stash</pre>
    </li>
    <li>
        bug处理完成，删除issue分支
    </li>
    <li>
        查看<code>stash</code>内的工作现场
        <pre class="hljs applescript">git stash list</pre>
    </li>
</ul>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-95ca7c934eee9210.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-95ca7c934eee9210.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        查看所有工作现场
    </div>
</div>
<ul>
    <li>
        恢复指定现场
        <pre class="hljs perl">git stash apply stash@{0}    //恢复现场
git stash drop stash@{0}     //删除`stash`内的stash@{0}工作区
或
git stash pop stash@{0}   //恢复现场并删除stash@{0}工作区</pre>
    </li>
</ul>
<h4>
    9 多人协作
</h4>
<hr/>
<p>
    当我们从远程仓库克隆时，Git会自动的将本地的master分支和远程的master分支关联起来，远程仓库的默认地址是origin。
</p>
<p>
    可以使用<code>git remote</code>来查看远程仓库信息<br/>或<br/>用<code>git remote -v</code>查看抓取和推送的master地址
</p>
<p>
    <strong>1) 推送分支</strong>
</p>
<pre class="hljs maxima">git push  origin master</pre>
<p>
    <strong>2）抓取分支</strong>
</p>
<p>
    Ⅰ 使用<code>git push origin branch_name</code>推送自己的修改
</p>
<p>
    Ⅱ 若推送失败，则使用<code>git pull</code>试图合并
</p>
<p>
    Ⅲ 如果出现冲突，那么就解决冲突，并在本地提交
</p>
<p>
    Ⅳ没有冲突或解决掉冲突后继续执行 Ⅰ
</p>
<h4>
    10 标签管理
</h4>
<hr/>
<p>
    在发布一个版本时，我们一般会再该版本上添加一个版本号做标识。这样我们在版本库中查询时也可以一目了然。
</p>
<ul>
    <li>
        给当前分支创建标签
        <pre class="hljs crmsh">git tag &lt;tag_name&gt;</pre>
    </li>
    <li>
        给历史提交记录创建标签
        <pre class="hljs crmsh">git tag &lt;tag_name&gt; 历史版本号   //（版本号用git reflog查询）</pre>
    </li>
    <li>
        创建标签时填加备注信息
        <pre class="hljs crmsh">git tag -a &lt;tag_name&gt; -m &#39;remark&#39;</pre>
    </li>
    <li>
        查看标签信息
        <pre class="hljs xml">git show &lt;tag_name&gt;</pre>
    </li>
    <li>
        查看所有标签
        <pre class="hljs crmsh">git tag</pre>
    </li>
</ul>
<hr/>
<ul>
    <li>
        删除标签
        <pre class="hljs crmsh">git tag -d &lt;tag_name&gt;</pre>
    </li>
    <li>
        推送标签到远程
        <pre class="hljs gauss">git push origin &lt;tag_name&gt; //推送单个标签git push origin --tags //将全部未推送的的标签推送到远程</pre>
    </li>
    <li>
        删除远程标签
        <ul>
            <li>
                先删除本地标签
            </li>
            <li>
                再删除远程标签
                <pre class="hljs elixir">git push origin :refs/tags/&lt;tag_name&gt;</pre>
            </li>
        </ul>
    </li>
</ul>
<h4>
    11 &nbsp;补充
</h4>
<hr/>
<ul>
    <li>
        把本地的分支提交到远程的某个分支（远程分支可以是未创建的）
        <pre class="hljs maxima">git push origin own_branch:remote_branch</pre>
    </li>
    <li>
        删除远程的分支
        <pre class="hljs gauss">git push origin  :remote_test  //远程的分支被删除，本地的分支不会被删除</pre>
    </li>
    <li>
        将一个文件从暂存区中删掉，但还存在与硬盘中
        <pre class="hljs ada">git rm --cache fileName</pre>
    </li>
    <li>
        撤销上一次提交。
    </li>
</ul>
<pre class="hljs haml">--soft 参数：将上一次的修改放入 staging area--mixed 参数：将上一次的修改放入 working directory--hard 参数：直接将上一次的修改抛弃</pre>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/3126293-de192a11c0798478.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/3126293-de192a11c0798478.png?imageMogr2/auto-orient/strip%7CimageView2/2" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        image.png
    </div>
</div>
<ul>
    <li>
        <p>
            查看远端仓库
        </p>
        <pre class="hljs ebnf">git remote -v</pre>
    </li>
    <li>
        <p>
            拉取远程分支到本地分支
        </p>
        <pre class="hljs maxima">git pull origin remote : local</pre>
    </li>
</ul>
<ul>
    <li>
        <p>
            推送本地分支到远程分支
        </p>
        <pre class="hljs maxima">git push origin local : remote</pre>
    </li>
    <li>
        <p>
            查看某个文件的修改人
        </p>
        <pre class="hljs armasm">git blame fileName</pre>
    </li>
    <li>
        <p>
            获取远程的修改，但并不合并到当前分支
        </p>
        <pre class="hljs ebnf">git fetch branchName</pre>
    </li>
    <li>
        <p>
            撤销当前的commit
        </p>
        <pre class="hljs accesslog">git revert [HEAD]</pre>
    </li>
</ul>
<p>
    <br/>
</p>
           	  </article>
           	   <div class="article_footer">
                	<div class="article_likes">zackon觉得很赞</div>
                	<ul class="article_share">
                		<li><a>QQ</a></li>
                		<li><a>微信</a></li>
                		<li><a>微博</a></li>
                		<li><a>更多</a></li>
                	</ul>
	                <div class="inputComments">
	                	<textarea  placeholder="请输入你的评论" rows="5" ></textarea>
	                	<p><a class="btn btn-default">取消</a><a class="btn btn-info">发送</a></p>
	                </div>
	                <div class="commentsList">
	                	<p><span class="count">1条评论</span><span class="orderBy"><a class="orderByTimeAsc">按时间正序</a><a class="orderByTimeDesc">按时间倒序</a></span></p>
	                	<div class="comment">
	                		<div>
	                			<img class="commentAvatar" src="../image/img5.jpg" width="50" height="50" />
	                			<div style="width: 80%; float:left;">
	                				<p class="commentName">zackon</p>
	                				<p class="commentTime">2015-12-23 12:15</p>
	                			</div>
	                		</div>
	                		<div class="commentContent">
	                			写的非常好啊
	                		</div>
	                	</div>
	                </div>
                </div>
           </div>
           <div class="image hide">
           	  <div class="imageContent">
	           	  <a>
	           	  	<img data-original="../image/me1.jpg" class="lazy"></img>
	           	  </a>
	           	  <div class="image_footer">
	           	  	<p>
	           	  	  2017-03-11 星期六   凤凰岭  <br>
同游者：  贺鹏桦 ，杨娅娅， 刘贝贝<br>
	           	    </p>
	           	  </div>
           	  </div>
           </div>
        </section>
        <footer>
        	<hr>
        	<div id="goTop">
        		<img src="../image/gotop.gif"/>
        	</div>
        	<p>版权所有 © ICP备17022551号   技术支持：zackon科技</p>
        </footer>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jQuery.lazy.js"></script>
        <script src="../js/backtop.js"></script>
        <script src="../js/index.js"></script>
	</body>
</html>