<!DOCTYPE html>
<html>
	<head>
		<meta name="baidu-site-verification" content="QUmU9uX87w" />
		<meta charset="UTF-8">
		<meta name="keywords" Content="zackon | 张涛">
		<meta name="description" Content="zackon | 张涛">
		<title>zackon | 张涛</title>
		<link rel="shortcut icon" href="../image/avatar.jpg">
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../css/articleDetail.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <header>
        	<hr>
        	<a href="index.html"><img src="../image/avatar.jpg"></img></a>
        	<h1 class="userName"><a>张涛 | zackon</a></h1>
        	<hr>
        	<div class="desc">
        		软件工程专业毕业，喜欢编程，运动，以及冒险，大学做过一些门户类网站。现投身互联网行业，目前工作于yonyou。喜欢互联网，喜欢健身，喜欢跑步，喜欢交朋友，喜欢笑起来像旺仔一样可爱的女生，喜欢认识更多有意思的人，欢迎和这个有全身充满正能量（捂脸）的处女座男生做朋友。
        	</div>
<!--        	<ul>
        		<li><a>文章</a></li>
        		<li><a>相册</a></li>
        		<li><a>养生</a></li>
        		<li><a>健身</a></li>
        		<li><a>IT</a></li>
        		<li><a>随笔</a></li>   
        	</ul>-->
        </header>
        <section>
           <div class="article">
           	  <article class="article_content">
				<p style="text-align: center;">
				    <span style="font-size:24px">屌丝逆袭是一种什么样的感受</span>
				</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/569985-76341d33337b93de.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/569985-76341d33337b93de.jpg?imageMogr2/auto-orient/strip" data-image-slug="76341d33337b93de" data-width="600" data-height="340" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        后来啊，我们也长大了
    </div>
</div>
<p>
    1<br/>
</p>
<blockquote>
    <p>
        你知道那种怎么努力也没用的难过吗？
    </p>
    <p>
        你体会过自卑到极致的感觉吗？
    </p>
    <p>
        你有过全世界都不会喜欢你的怀疑吗？
    </p>
</blockquote>
<p>
    16岁那年读高一，成绩不好，不爱说话，性格内向，最喜欢做的事，就是一个人安安静静地坐在角落里看小说。
</p>
<p>
    同班同学相处了一整年，也认不全班上的人，化学老师甚至叫不出我的名字，看吧，那时候的自己，仿佛没有用处的微小尘埃，在光影交错里没有任何意义。
</p>
<p>
    那时候成绩不好，却也活的开心，十几岁的小姑娘，活在自己的世界里也自得自乐。
</p>
<p>
    只是呢，人总是会改变的。尽管有时候懂得一些道理的代价未免太过残忍。
</p>
<p>
    虽然成绩不好，可是我作文写的还不错，经常被当作范文登上校报。当时全省的作文比赛只有我和我们班每次考试都是第一名女孩子入选了，可是一所学校只能派一名去参赛。
</p>
<p>
    结果我们班主任把我叫到办公室，第一次破天荒的问了我的成绩，就在我感动的无以复加的时候，她说，如果第一名在省里的比赛获奖了，一定能获得保送机会，而我就算获奖了，也没有特别的意义。
</p>
<p>
    对，猜的没错，我们班主任让我自动退出，把机会让给第一名。
</p>
<p>
    当初还不明白优胜劣汰这种等级制度在人类世界才是运用到极致。
</p>
<p>
    <strong>只是很难过，原来唯一的一次被注意也只是做别人的背景。或许自己不优秀，就只能做别人的背景吧。</strong>
</p>
<p>
    应该算是顿悟，突然之间想通了，我不能一直做背景啊。
</p>
<p>
    当时数学不好，便自己买回来了市面上所有的数学卷子，把高中的几本数学书全部找出来，把每一个知识点都标记下来，每做一道题，就把它划分到对应的知识点里。
</p>
<p>
    其实，学习应该算是最简单的事，因为答案永远都是客观的，你做对了便就是对了。
</p>
<p>
    最后差不多做题做到吐的节奏，却终于找到了窍门，做的多了，就熟能生巧。看到一道题，瞬间就能找到做题思路。
</p>
<p>
    只要你努力一次，尝到努力之后有回报的感受，你就会相信，这世上没什么是你做不到的。
</p>
<p>
    高三时，每次年级大考，我都能考进年级前二十，是吧，所有人都大跌眼镜，却又不得不承认，我确实不一样了。
</p>
<p>
    只是你得到的每一样礼物，都是明码标价的，那以后我就再也不敢看自己喜欢的各种小说了，因为怕自己沉迷下去。
</p>
<p>
    <strong>因为习惯了做奥特曼，便不能露出受伤的样子，因为优秀变成了自己的标签，便再也不敢恣意妄为了。人就是这样复杂的动物，没人注意你时，你可以随心所欲，自甘堕落，看闲书，睡大觉，可一旦你变成聚光灯闪烁的那个点时，你就要活成别人期待的样子。</strong>
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/569985-12830df0286b77b2.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/569985-12830df0286b77b2.jpg?imageMogr2/auto-orient/strip" data-image-slug="12830df0286b77b2" data-width="600" data-height="333" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        唯独感情不能强求
    </div>
</div>
<p>
    2
</p>
<p>
    20岁那年夏天的午后，去做家教的路上，我把手机弄丢了，迷路了半个小时后，同校的学长坚持要冒着39度高温送我过去。
</p>
<p>
    到现在我都清晰地记得那天的一切，阳光明晃晃地照过来，路边的妹子都打着彩虹太阳伞，街对面的小胖子手里拿着根可爱多边吃边笑，学长在我前面带路，他穿浅蓝色衬衫，我走在斜后方，看到他的侧脸冒着细微的汗珠。
</p>
<p>
    电影《大鱼》里说，<strong>如果你遇到自己喜欢的人时，时间就会在那一刻静止。</strong>
</p>
<p>
    可是那天过的太快了，快到我自己都没意识到，原来我已经有点喜欢学长了。
</p>
<p>
    不过那之前的我，特别好吃，一天要吃五顿饭，早餐，午餐，晚餐，下午茶，外加夜宵。当时我认定自己一辈子就是为了吃才活着的，室友都叫我大胃王，我记得自己最夸张的时候，一星期吃了六顿小龙虾。
</p>
<p>
    外加我特别爱吃零食，嘴没有一刻是闲着的。
</p>
<p>
    如此饭量，你们可以想象下我的体重。140斤配上168的身高，<strong>班上同学打趣我的时候说，我走路的时候，就像一个行走的巨人，这个比喻很形象。</strong>
</p>
<p>
    小胖子尚且还能说得上可爱，但我却是只大胖子。
</p>
<p>
    一眼望过去就是个女巨人，丝毫谈不上可爱。
</p>
<p>
    遇见学长之前，我从来不觉得长得胖是件不好的事，因为那时候的我，不需要取悦任何人，只需要让自己开心就好了。
</p>
<p>
    遇见学长之后，就是我漫长而艰辛的减肥史。
</p>
<p>
    每天早上五点半起床，天还是蒙蒙亮，操场上一个人都没有，我就开始扑哧扑哧地小跑了。
</p>
<p>
    忍痛不买零食，不下馆子，顿顿去食堂，餐盘里只有绿色的蔬菜，吃之前还特意用白开水涮一遍，把油都涮掉。
</p>
<p>
    那时候馋啊，有时候做梦都会梦到自己在吃小龙虾。
</p>
<p>
    买衣服的时候全部都买了S号，我对自己说，就当破釜沉舟了，现在想起来，真是敬佩那时候自己的勇气，如果减肥失败，难道裸体去上课？
</p>
<p>
    大概是老天爷也被我感动到了，三个月瘦了四十斤。我看着自己以前的衣服，都觉得很神奇，原来曾经穿那么大的衣服。
</p>
<p>
    后来我要到学长的电话，也费尽心思制造了再相遇的机会。
</p>
<p>
    可是我们第二次见面时，他并没有认出我。他主动搭讪我，笑盈盈地和我聊天，那一瞬间我突然就不喜欢他了。
</p>
<p>
    他不知道我因为喜欢他付出了多少，在他眼里我和其他漂亮女生没有差别，也仅仅只是人群里普通的那一个罢了，他甚至不曾记得我的样子。
</p>
<p>
    以前啊，有读者和我说，<strong>因为她唱歌的样子好看，我搭上半辈子的青春，我们的性格并不合适，每天都生活在对彼此的厌恶中。</strong>
</p>
<p>
    我不知道，我对学长的喜欢，是不是因为第一次见面的那个夏天，他穿浅蓝色衬衫特别好看，或者是因为他站出来帮了我。
</p>
<p>
    我并没有和学长在一起，不过我已经从大胖子变成了大瘦子，前天秤体重的时候，只有98斤了。
</p>
<div class="image-package">
    <img src="http://upload-images.jianshu.io/upload_images/569985-f6310d77e9950c17.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" data-original-src="http://upload-images.jianshu.io/upload_images/569985-f6310d77e9950c17.jpg?imageMogr2/auto-orient/strip" data-image-slug="f6310d77e9950c17" data-width="720" data-height="396" style="cursor: zoom-in;"/><br/>
    <div class="image-caption">
        你不是一个人
    </div>
</div>
<p>
    3
</p>
<p>
    大学毕业打算去上海闯一闯，认识的人都不看好我。
</p>
<p>
    各种各样的理由，仿佛我为自己的人生做决定，是不可理喻的。
</p>
<p>
    你一个人，那边又没有认识的人，多危险。
</p>
<p>
    魔都生活压力大，不适合你。
</p>
<p>
    一个女孩子，安分守己找份工作，然后结婚生子就好了，瞎折腾什么？
</p>
<p>
    后来独自一人来到异乡，困难当然也是遇到很多，孤独的日子都数不清了，只是有天逛知乎的时候，看到一条回答，“有时候我们要走太多弯路”
</p>
<p>
    这些年一步一步走过来，终于习惯了遇到问题，碰到麻烦都自己想办法解决，突然想到当初的那个被人抢了作文比赛名额，哭哭啼啼跑回家找爸妈的时候。
</p>
<p>
    原来不知不觉就长大了。
</p>
<p>
    <strong>人生有无数种可能，希望你能变成自己喜欢的样子。</strong>
</p>
<p>
    <br/>
</p>
<hr/>
<blockquote>
    <p>
        愿你执迷不悟时，少受点伤，愿你幡然醒悟时，物是人是
    </p>
</blockquote>
<p>
    <br/>
</p>
           	  </article>
           	   <div class="article_footer">
                	<div class="article_likes">zackon觉得很赞</div>
                	<ul class="article_share">
                		<li><a>QQ</a></li>
                		<li><a>微信</a></li>
                		<li><a>微博</a></li>
                		<li><a>更多</a></li>
                	</ul>
	                <div class="inputComments">
	                	<textarea  placeholder="请输入你的评论" rows="5" ></textarea>
	                	<p><a class="btn btn-default">取消</a><a class="btn btn-info">发送</a></p>
	                </div>
	                <div class="commentsList">
	                	<p><span class="count">1条评论</span><span class="orderBy"><a class="orderByTimeAsc">按时间正序</a><a class="orderByTimeDesc">按时间倒序</a></span></p>
	                	<div class="comment">
	                		<div>
	                			<img class="commentAvatar" src="../image/img5.jpg" width="50" height="50" />
	                			<div style="width: 80%; float:left;">
	                				<p class="commentName">zackon</p>
	                				<p class="commentTime">2015-12-23 12:15</p>
	                			</div>
	                		</div>
	                		<div class="commentContent">
	                			写的非常好啊
	                		</div>
	                	</div>
	                </div>
                </div>
           </div>
           <div class="image hide">
           	  <div class="imageContent">
	           	  <a>
	           	  	<img data-original="../image/me1.jpg" class="lazy"></img>
	           	  </a>
	           	  <div class="image_footer">
	           	  	<p>
	           	  	  2017-03-11 星期六   凤凰岭  <br>
同游者：  贺鹏桦 ，杨娅娅， 刘贝贝<br>
	           	    </p>
	           	  </div>
           	  </div>
           </div>
        </section>
        <footer>
        	<hr>
        	<div id="goTop">
        		<img src="../image/gotop.gif"/>
        	</div>
        	<p>版权所有 © ICP备17022551号   技术支持：zackon科技</p>
        </footer>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jQuery.lazy.js"></script>
        <script src="../js/backtop.js"></script>
        <script src="../js/index.js"></script>
	</body>
</html>