/*index.css*/
body {
    width: 1076px;
    margin: 0 auto;
    background: url(../image/5629514927375932817.jpg) fixed 0 0;
    background-size: cover;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

header {
	text-align: center;
	margin: 30px auto;
}

header img {
	height: 128px;
	width: 128px;
	border-radius: 50%;
	border: 6px solid rgba(255,255,255,0.15);
}

header .userName a{
	font-size: 32px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 4px;
    line-height: 42px;
    text-shadow: 0 0 10px rgba(255,255,255,0.75);
    color: white;
}

header .desc {
	line-height: 24px;
}

header ul {
	padding: 20px 0 25px;
    border-bottom: 1px dotted #7f9397;
}

header ul li {
	display: inline-block;
	margin: 4px 10px;
    height: 24px;
}
header ul li a{
	color: white;
}
hr {
	margin: 40px 0;
}
/**section**/
section .article {
	margin: 5px auto;
}

section article {
	width: 80%;
	/*min-height: 500px;*/
	/*text-align: center;*/
	padding: 20px 30px;
	margin: 20px auto;
	background-color: whitesmoke;
	border-radius: 10px;
}

section .article_footer {
/*	height: 200px;*/
	/*border: 1px gainsboro dashed;*/
	background-color: antiquewhite;
	width: 80%;
	margin: 20px auto;
	border-radius: 5px;
}

section .article_share {
	display: inline-flex;
	list-style-type: none;
	width: 24%;
	text-align: right;
	float: left;
	padding: 10px;
}
section .article_share li {
	margin: 0 10px;
}

section .article_likes {
	width: 76%;
	text-align: left;
	float: left;
	padding: 10px 15px;
}

section .article_content img {
	width: 100%;
}

.inputComments {
	text-align: center;
}

.inputComments textarea {
	resize: none;
	width: 97%;
}
.inputComments p {
	display: flex;
	float: right;
}
.inputComments a {
	margin: 5px 10px;
}
.commentsList .orderBy {
	float: right;
}
.orderByTimeAsc, .orderByTimeDesc {
	padding-left: 20px;
}
.commentsList {
	clear: both;
	margin: 10px 15px;
	padding: 20px 0;
}

.commentAvatar {
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}

.commentName, .commentTime {
	width: 80%;
}
.commentContent {
	clear: both;
}
/**footer**/
footer {
	text-align: center;
	margin: 20px 0 30px;
}
/**返回顶部**/
#goTop {
    width:50px;
    height:50px;
    position: fixed;
    bottom:30px;
    right:20px;
    display: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
#goTop:after{
    content: "返回顶部";
    left: 0;
    position: absolute;
    word-break: break-all;
    background-color: #666;
    line-height: 1.2;
    width: 50px;
    height: 50px;
    color: #fff;
    padding:2px 0px;
    opacity: 0.3;
    -webkit-transition:all .5s ;
    -moz-transition: all .5s;
    transition: all .5s;
    font-size: 18px;
}
#goTop:hover::after{
    top: 0;
    opacity: 1;
}


#loading {   
	position: absolute;
    top: 50%;
    left: 45%;
    display: none;
}

