/*index.css*/

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493254728754'); /* IE9*/
  src: url('iconfont.eot?t=1493254728754#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493254728754') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493254728754') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493254728754#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before { content: "\e623"; }

.icon-1433143414icon4thumbup:before { content: "\e600"; }

.icon-guankan:before { content: "\e602"; }

body {
    width: 80%;
    margin: 0 auto;
    background: url(../image/5629514927375932817.jpg) fixed 0 0;
    background-size: cover;
}

a {
	cursor: pointer;
}

a:hover{
	text-decoration: none;
}

header {
	text-align: center;
	margin: 30px auto;
}

header ul a:hover{
	text-decoration: none;
	color: blanchedalmond;
	background-color: red;
}
header img {
	height: 128px;
	width: 128px;
	border-radius: 50%;
	border: 6px solid rgba(255,255,255,0.15);
}

header .userName a{
	font-size: 32px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 4px;
    line-height: 42px;
    text-shadow: 0 0 10px rgba(255,255,255,0.75);
    color: white;
}

header .desc {
	line-height: 24px;
}

header ul {
	padding: 20px 0 25px;
  border-bottom: 1px dotted #7f9397;
}

header ul li {
	display: inline-block;
	margin: 4px 10px;
    height: 24px;
}
header ul li a{
	color: white;
	padding: 2px 6px;
	/*color: #ea6f5a !important;*/
	border: 1px solid white;
	border-radius: 3px;
}

header .active {
 background: red;	
}

header .loginAndRegiste {
	text-align: left; color: white;
}
header .loginAndRegiste a{
	color: white;
}
/**section**/
section .article {
	margin: 5px auto;
}

section article {
	width: 80%;
	/*min-height: 500px;*/
	/*text-align: center;*/
	/*height: 250px;*/
	padding: 20px 30px;
	margin: 20px auto;
	background-color: whitesmoke;
	border-radius: 10px;
	overflow: hidden;
	text-overflow:ellipsis; 
}

article a:hover {
	color: currentcolor;
}

.article_content_head img {
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.article_content_head span{
	padding-left: 15px;
	font-size: 13px;
}
.article_title {
	font-size: 18px;
	font-weight: bold;
}
.article_abstract {
	line-height: 24px;
	font-size: 13px;
	margin: 0 0 8px;
}

.article_contnet_footer i{
    padding-left: 15px;
}

section .article_footer {
/*	height: 200px;*/
	/*border: 1px gainsboro dashed;*/
	background-color: antiquewhite;
	width: 80%;
	margin: 20px auto;
	border-radius: 5px;
}

section .article_tag {
	padding: 2px 6px;
	color: #ea6f5a !important;
	border: 1px solid rgba(236,97,73,.7);
	border-radius: 3px;
}
section .article_share {
	display: inline-flex;
	list-style-type: none;
	width: 24%;
	text-align: right;
	float: left;
	padding: 10px;
}
section .article_share li {
	margin: 0 10px;
}

section .article_likes {
	width: 76%;
	text-align: left;
	float: left;
	padding: 10px 15px;
}

.inputComments {
	text-align: center;
}

.inputComments textarea {
	resize: none;
	width: 97%;
}
.inputComments p {
	display: flex;
	float: right;
}
.inputComments a {
	margin: 5px 10px;
}
.commentsList .orderBy {
	float: right;
}
.orderByTimeAsc, .orderByTimeDesc {
	padding-left: 20px;
}
.commentsList {
	clear: both;
	margin: 10px 15px;
	padding: 20px 0;
}

.commentAvatar {
	float: left;
	border-radius: 50%;
	margin-right: 10px;
}

.commentName, .commentTime {
	width: 80%;
}
.commentContent {
	clear: both;
}

.image {
  text-align: center;	
}
.imageContent {
	border-bottom: 1px dotted #7f9397;
}
.image img {
	border: 6px solid rgba(255,255,255,0.15);
	margin: 10px 0 10px;
	max-width: 98%;
}
.image_footer {
	text-align: left;
    margin: 5px auto;
    width: 98%;
}

/**footer**/
footer {
	text-align: center;
	margin: 20px 0 30px;
	    color: aliceblue;
}

/**返回顶部**/
#goTop {
    width:50px;
    height:50px;
    position: fixed;
    bottom:30px;
    right:20px;
    display: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
#goTop:after{
    content: "返回顶部";
    left: 0;
    position: absolute;
    word-break: break-all;
    background-color: #666;
    line-height: 1.2;
    width: 50px;
    height: 50px;
    color: #fff;
    padding:2px 0px;
    opacity: 0.3;
    -webkit-transition:all .5s ;
    -moz-transition: all .5s;
    transition: all .5s;
    font-size: 18px;
}
#goTop:hover::after{
    top: 0;
    opacity: 1;
}

#hasLogin {
	display: none;
}

/*编辑和删除*/
.article_content_head button {
	float: right;
}
