<!DOCTYPE html>
<html>
	<head>
		<meta name="baidu-site-verification" content="QUmU9uX87w" />
		<meta charset="UTF-8">
		<meta name="keywords" Content="zackon | 张涛">
		<meta name="description" Content="zackon | 张涛">
		<title>zackon | 张涛</title>
		<link rel="shortcut icon" href="../image/avatar.jpg">
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../css/articleDetail.css" rel="stylesheet" type="text/css">
	</head>
	<body>
        <header>
        	<hr>
        	<a href="index.html"><img src="../image/avatar.jpg"></img></a>
        	<h1 class="userName"><a>张涛 | zackon</a></h1>
        	<hr>
        	<div class="desc">
        		软件工程专业毕业，喜欢编程，运动，以及冒险，大学做过一些门户类网站。现投身互联网行业，目前工作于yonyou。喜欢互联网，喜欢健身，喜欢跑步，喜欢交朋友，喜欢笑起来像旺仔一样可爱的女生，喜欢认识更多有意思的人，欢迎和这个有全身充满正能量（捂脸）的处女座男生做朋友。
        	</div>
<!--        	<ul>
        		<li><a>文章</a></li>
        		<li><a>相册</a></li>
        		<li><a>养生</a></li>
        		<li><a>健身</a></li>
        		<li><a>IT</a></li>
        		<li><a>随笔</a></li>   
        	</ul>-->
        </header>
        <section>
           <div class="article">
           	  <article class="article_content">
				<p style="text-align: center;">
				    <span style="font-size:24px">优秀的人，凭什么要和你在一起？</span>
				</p>

           	  </article>
           	   <div class="article_footer">
                	<div class="article_likes">zackon觉得很赞</div>
                	<ul class="article_share">
                		<li><a>QQ</a></li>
                		<li><a>微信</a></li>
                		<li><a>微博</a></li>
                		<li><a>更多</a></li>
                	</ul>
	                <div class="inputComments">
	                	<textarea  placeholder="请输入你的评论" rows="5" ></textarea>
	                	<p><a class="btn btn-default">取消</a><a class="btn btn-info">发送</a></p>
	                </div>
	                <div class="commentsList">
	                	<p><span class="count">1条评论</span><span class="orderBy"><a class="orderByTimeAsc">按时间正序</a><a class="orderByTimeDesc">按时间倒序</a></span></p>
	                	<div class="comment">
	                		<div>
	                			<img class="commentAvatar" src="../image/img5.jpg" width="50" height="50" />
	                			<div style="width: 80%; float:left;">
	                				<p class="commentName">zackon</p>
	                				<p class="commentTime">2015-12-23 12:15</p>
	                			</div>
	                		</div>
	                		<div class="commentContent">
	                			写的非常好啊
	                		</div>
	                	</div>
	                </div>
                </div>
           </div>
           <div class="image hide">
           	  <div class="imageContent">
	           	  <a>
	           	  	<img data-original="../image/me1.jpg" class="lazy"></img>
	           	  </a>
	           	  <div class="image_footer">
	           	  	<p>
	           	  	  2017-03-11 星期六   凤凰岭  <br>
同游者：  贺鹏桦 ，杨娅娅， 刘贝贝<br>
	           	    </p>
	           	  </div>
           	  </div>
           </div>
        </section>
        <footer>
        	<hr>
        	<div id="goTop">
        		<img src="../image/gotop.gif"/>
        	</div>
        	<p>版权所有 © ICP备17022551号   技术支持：zackon科技</p>
        </footer>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/jQuery.lazy.js"></script>
        <script src="../js/backtop.js"></script>
        <script src="../js/index.js"></script>
	</body>
</html>